// COLORS
$color-white: #ffffff;
$color-black: #23303e;
$color-gray: hsl(206, 4%, 67%);
$color-yellow: #fad400;
$color-pink: #fe7867;
$color-dark-desurated-cyan: #25564b;
$color-dark-cyan: #458c7e;

// FONTS
$font-primary: "Barlow", sans-serif;
$font-secondary: "Fraunces", serif;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
