.footer {
  background-color: $color-dark-cyan;
  padding: 4rem;

  &__title {
    text-align: center;
  }

  &__content {
    padding: 2rem;

    &__list {
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      @media only screen and (min-width: $bp-mobile) {
        justify-content: center;
      }

      &--item {
        font-size: 1.8rem;

        @media only screen and (min-width: $bp-mobile) {
          &:not(:last-child) {
            margin-right: 4rem;
          }
        }
      }

      &--link:link,
      &--link:visited {
        text-decoration: none;
        color: $color-dark-desurated-cyan;

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  &__social {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      filter: brightness(0.8);

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    &--icon {
      &:hover {
        fill: $color-white;
        cursor: pointer;
      }
    }
  }
}
