.brand {
  &__img--mobile {
    width: 100%;
    display: block;
  }

  &__img--desktop {
    width: 100%;
  }

  &__photos {
    @media only screen and (min-width: $bp-mobile) {
      flex: 0 0 50%;
    }
  }

  &__content {
    padding: 4rem;
    text-align: center;

    @media only screen and (min-width: $bp-mobile) {
      order: -1;
      text-align: left;
      padding: 0 5rem;
      flex: 0 0 50%;
      margin: auto 0;
    }
  }

  @media only screen and (min-width: $bp-mobile) {
    display: flex;
  }
}

.audience {
  &__img--mobile {
    width: 100%;
    display: block;
  }

  &__img--desktop {
    width: 100%;
    display: block;
  }

  &__photos {
    @media only screen and (min-width: $bp-mobile) {
      flex: 0 0 50%;
    }
  }

  &__content {
    padding: 4rem;
    text-align: center;

    @media only screen and (min-width: $bp-mobile) {
      text-align: left;
      padding: 0 5rem;
      flex: 0 0 50%;
      margin: auto 0;
    }
  }

  @media only screen and (min-width: $bp-mobile) {
    display: flex;
  }
}

.desing-photography {
  @media only screen and (min-width: $bp-mobile) {
    display: flex;

    align-items: flex-end;
  }
}

.design {
  position: relative;

  @media only screen and (min-width: $bp-mobile) {
    flex: 0 0 50%;
  }
  &__img--mobile {
    width: 100%;
    display: block;
  }

  &__img-desktop {
    width: 100%;
  }

  &__content {
    padding: 4rem;
    text-align: center;
    position: absolute;
    top: 60%;

    @media only screen and (min-width: $bp-mobile) {
      top: 50%;
    }
  }
}

.photography {
  position: relative;

  @media only screen and (min-width: $bp-mobile) {
    flex: 0 0 50%;
  }
  &__img--mobile {
    width: 100%;
    display: block;
  }

  &__img--desktop {
    width: 100%;
  }

  &__content {
    padding: 4rem;
    text-align: center;
    position: absolute;
    top: 60%;

    @media only screen and (min-width: $bp-mobile) {
      top: 50%;
    }
  }
}

.testimonials {
  @media only screen and (min-width: $bp-mobile) {
    padding: 8rem;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;

    @media only screen and (min-width: $bp-mobile) {
      padding: 4rem 8rem;
    }
  }

  &__content {
    padding: 2rem;

    @media only screen and (min-width: $bp-mobile) {
      display: flex;
      padding: 0 5rem;
    }
    &__feedback {
      padding: 2rem;
      text-align: center;
      margin-bottom: 3rem;

      @media only screen and (min-width: $bp-mobile) {
        padding: 0 1rem;
      }
    }

    &__image {
      border-radius: 10rem;
      height: 6rem;
      width: 6rem;
      margin-bottom: 2rem;
    }
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: $bp-mobile) {
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    flex: 50%;
  }

  &--mobile {
    width: 100%;
    display: block;
  }
}
